<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDataset.Properties.Settings.IEFHEDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=IEFHEDB;Persist Security Info=True;User ID=sa;Password=11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>